---
import { Image } from "astro:assets";
import type { projects } from "../project/projects";

const {
  title,
  githubLink,
  description,
  skillsGained,
  liveWebsite,
  techStacks,
  image1,
  image2,
} = Astro.props as (typeof projects)[number];
---

<section>
  <h2 class="underline">{title}</h2>
  <div>
    <article>
      {description?.map((paragraph) => <p>{paragraph}</p>)}
      <Image src={image1} alt={title} width={400} height={450} format="webp" />
      <a class="btn" href={githubLink}>Github repository</a>
    </article>
    <div class="grid">
      <Image src={image1} alt={title} width={400} height={450} format="webp" />
      <p>{skillsGained}</p>
      <h3>Tech stacks</h3>
      <div class="techstack">
        {techStacks.map((s) => <span>{s}</span>)}
      </div>
      <a class="btn" href={liveWebsite}>view live website</a>
    </div>
  </div>
</section>
<script>
  const io = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.intersectionRatio > 0) {
          entry.target.classList.add("active");
        } else {
          entry.target.classList.remove("active");
        }
      });
    },
    {
      rootMargin: "-200px -200px",
    }
  );

  const boxElList = document.querySelectorAll("section");
  boxElList.forEach((el) => {
    io.observe(el);
  });
</script>
<style lang="scss">
  @import '../css/color';
  section {
    & article,
    & .grid {
      transition: 0.6s ease;
      opacity: 0;
    }
    & article {
      transform: translate(-20%, 20%);
    }
    & .grid {
      transform: translate(20%, -20%);
    }
    &.active {
      & article,
      & .grid {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }

  h2 {
    margin-bottom: 2rem;
  }
  h3 {
    margin-block: 1.5rem;
  }

  .grid {
    display: grid;
    align-items: start;
  }
  section {
    margin-block: 4rem;
  }

  section > div {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 0.5rem;
  }

  article {
    padding: 1.2rem;
    background-color: lighten($bg-color, 100%);
  }
  article > * {
    margin-block: 0.5rem;
  }

  h3 {
    margin-block: 0;
  }

  span a,
  span a {
    position: relative;
  }
  
  #techstack span:nth-child(1) {
    margin-left: 0;
  }
  img:not(.logo) {
    width: 100%;
    object-fit: cover;
    border-radius: 0.3rem;
  }
  @media (max-width: 600px) {
    section > div {
      grid-template-columns: auto;
    }
  }
</style>
