---
import type { projects } from "./projects";

type Props = { project: (typeof projects)[number] };

const {
  project: {
    description,
    title,
    techStacks,
    images,
    liveWebsite,
    githubLink,
    skillsGained,
  },
} = Astro.props as Props;
---

<section>
  <h2 class="underline">{title}</h2>
  <div>
    <article>
      {description.map((paragraph) => <p>{paragraph}</p>)}
      <img src={images[0]} />
      <a class="btn" href={githubLink}>Github repository</a>
    </article>
    <div class="grid">
      <img src={images[1]} />
      <p>{skillsGained}</p>
      <h3>Tech stacks</h3>
      <div class="techstack">
        {techStacks.map((s) => <span>{s}</span>)}
      </div>
      <a class="btn" href={liveWebsite}>view live website</a>
    </div>
  </div>
</section>
<script>
  const io = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.intersectionRatio > 0) {
          entry.target.classList.add("active");
        } else {
          entry.target.classList.remove("active");
        }
      });
    },
    {
      rootMargin: "-200px -200px",
    }
  );

  const boxElList = document.querySelectorAll("section");
  boxElList.forEach((el) => {
    io.observe(el);
  });
</script>
<style lang="scss">
  section {
    & article,
    & .grid {
      transition: 0.6s ease;
      opacity: 0;
    }
    & article {
      transform: translate(-20%, 20%);
    }
    & .grid {
      transform: translate(20%, -20%);
    }
    &.active {
      & article,
      & .grid {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }

  h2 {
    margin-bottom: 2rem;
  }
  h3 {
    margin-block: 1.5rem;
  }

  .grid {
    display: grid;
    align-items: start;
  }
  section {
    margin-block: 4rem;
  }

  section > div {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 0.5rem;
  }

  article {
    padding: 1.2rem;
    background-color: #ffda6bcd;
  }
  article > * {
    margin-block: 0.5rem;
  }

  h3 {
    margin-block: 0;
  }

  span a,
  span a {
    position: relative;
  }
  span a::before,
  span a::before {
    position: absolute;
    content: attr(data-link);
    width: 300px;
    z-index: 3;
    padding: 0.5rem;
    background-color: #ffd;
    color: #000;
    top: 100%;
    visibility: hidden;
  }

  span a:hover::before,
  span a:hover::before {
    visibility: visible;
  }

  #techstack span:nth-child(1) {
    margin-left: 0;
  }
  img:not(.logo) {
    width: 100%;
    object-fit: cover;
  }
  @media (max-width: 600px) {
    section > div {
      grid-template-columns: auto;
    }
  }
</style>
